<div class="head">
      <h1>
        <a href="http://cs61a.org/">
          <span class="coursename">CS 61B</span>
        </a>
      </h1>
      <p>Data Structures, Spring 2015</p>
      <p>
        <span class="instructors">
          Instructor: Jonathan Shewchuk
        </span>
      </p>
      <hr>
      <ul class="navigation">
        <a href="{{ site.baseurl }}/announce"><li>Announcement</li></a>
        <a href="{{ site.baseurl }}/"><li>Calendar</li></a>
        <!--<a href="{{ site.baseurl }}/type"><li>Resources by Type</li></a>
        <a href="{{ site.baseurl }}/topic"><li>Resources by Topic</li></a>
        <a href="{{ site.baseurl }}/additional"><li>Additional Resources</li></a>
        <!--<a href="{{ site.baseurl }}/problems"><li>Practice Problems</li></a>-->

      </ul>
      <hr>
      <ul class="navigation">
        <a href="{{ site.baseurl }}/about"><li>Course Info</li></a>
        <!--<a href="{{ site.baseurl }}/extra"><li>Extra Lectures</li></a>-->
      </ul>
      <hr>
    </div>