<div id="navbar" class="navbar-middle"><div id="navitems">
        <a href="{{ site.baseurl }}/announce"><div class="navitem">Announcement</div></a>
        <a href="{{ site.baseurl }}/"><div class="navitem">Main</div></a>
        <a href="{{ site.baseurl }}/about"><div class="navitem">Course Info</div></a>
        <a href="{{ site.baseurl }}/resources/"><div class="navitem">Resources</div></a>
        <a href="{{ site.baseurl }}/homework-party/"><div class="navitem">Parties</div></a>
    </div></div>